@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/effect-fade';

html,
body {
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.35s ease-out;
}

.label {
  @apply flex flex-col gap-2 text-sm font-medium text-gray-700
}

.image-label {
  @apply w-44 h-44 border-2 border-dashed border-gray-300 rounded-xl cursor-pointer flex items-center justify-center text-gray-500 hover:border-black transition overflow-hidden bg-white
}

.input {
  @apply w-full rounded-lg border bg-white border-gray-300 px-3 py-2 text-sm text-gray-900 focus:border-blue-500 focus:ring-2 focus:ring-blue-500 outline-none transition;
}

.textarea {
  @apply w-full rounded-lg border bg-white border-gray-300 px-3 py-2 text-sm text-gray-900 focus:border-blue-500 focus:ring-2 focus:ring-blue-500 outline-none transition;
}