@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/effect-fade';

html,
body {
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.35s ease-out;
}

.input {
  @apply w-full rounded-lg border border-gray-300 px-4 py-2 text-sm text-gray-900 focus:border-black focus:ring-2 focus:ring-black outline-none transition;
}

.textarea {
  @apply w-full rounded-lg border border-gray-300 px-4 py-2 text-sm text-gray-900 focus:border-black focus:ring-2 focus:ring-black outline-none transition;
}